
<section class="o-nama" id="onama">
   <div class="container">
      <div class="row">
         <div class="col-md-6 trigger">
            <img src="{{ data.image.src }}}">
         </div>
         <div class="col-md-6 col-lg-5 offset-lg-1 d-flex align-items-center">
            <div class="text-box trigger">
               <h2>O nama</h2>
               <p>{{ data.onama_text_1 }}</p>
               <p>{{ data.onama_text_2 }}</p>
            </div>

         </div>
      </div>
   </div>
</section>